.row
  .col
    .alert.alert-success
      %h4.alert-heading #{current_user.first_name}, nice to meet you!
      %p You can connect all friends in #{Rails.application.class.module_parent_name}.
      %hr/
      %p Feel free to create or join a channel from the sidebar.
